<!DOCTYPE html>

<html lang="en" ng-app="pokemonAlgoApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon Matchup Algo</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet/less" href="./style.less" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script>
        less = {
            env: "development"
        };
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>

</head>

<body ng-controller="pokemonAlgoController" ng-cloak>
    <!--
    Your HTML content here
  -->
    <header>
        <h1>Pokemon Type Calculator</h1>
        <a id="code-icon" href="https://github.com/c0depizza"><i class="material-icons">code</i></a>
    </header>
    <div style="margin-top: 50px;" class="bs-container">
        <div layout="row" id="inputs">
            <md-radio-group ng-change="updateRanks()" ng-model="whichGiven">
                <md-radio-button ng-repeat="d in ['friendly','enemy']" ng-value="d" aria-label="{{ d }}">
                    {{ d | capitalize }}
                </md-radio-button>
            </md-radio-group>
            <md-input-container>
                <md-select ng-change="updateRanks()" ng-model="selectedType" placeholder="normal">
                    <md-option ng-value="type" ng-repeat="type in types">{{ type | capitalize }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-card>
            <table class="table" style="width: 100%; text-align:left;">
                <tr>
                    <th>
                        <span>Friendly Type</span>
                    </th>
                    <th>
                        <span>Enemy Type</span>
                    </th>
                    <th>
                        <span>Friendly Attack</span>
                    </th>
                    <th>
                        <span>Enemy Attack</span>
                    </th>
                    <th>
                        <span>Score</span>
                    </th>
                </tr>
                <tr ng-repeat="rel in ranked">
                    <td>
                        <span>{{rel.friendly | capitalize}}</span>
                    </td>
                    <td>
                        <span>{{rel.enemy | capitalize}}</span>
                    </td>
                    <td>
                        <span ng-class="effectivenessClasses[rel.friendlyAttack]">
                            {{rel.friendlyAttack | effectiveness}}
                        </span>
                    </td>
                    <td>
                        <span ng-class="effectivenessClasses[rel.enemyAttack]">
                            {{rel.enemyAttack | effectiveness}}
                        </span>
                    </td>
                    <td>
                        <span>{{rel.score}}</span>
                    </td>
                </tr>
            </table>
        </md-card>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Your application bootstrap  -->

    <script type="text/javascript" src="./pokemonAlgo.js"></script>

</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
