<!DOCTYPE html>

<html lang="en" ng-app="pokemonAlgoApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon Matchup Algo</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="./style.css" />
</head>

<body ng-controller="pokemonAlgoController" ng-cloak>
    <!--
    Your HTML content here
  -->
    <header>
        <h1>Mon</h1>
    </header>
    <div class="container">
        <div layout="row" id="inputs">
            <md-radio-group ng-change="updateRanks()" ng-model="whichGiven">
                <md-radio-button ng-repeat="d in ['friendly','enemy']" ng-value="d" aria-label="{{ d }}">
                    {{ d | capitalize }}
                </md-radio-button>
            </md-radio-group>
            <md-input-container>
                <md-select ng-change="updateRanks()" ng-model="selectedType" placeholder="normal">
                    <md-option ng-value="type" ng-repeat="type in types">{{ type | capitalize }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div>
            <table class="table" style="width: 100%; text-align:left;">
                <tr>
                    <th>
                        Friendly Type
                    </th>
                    <th>
                        Enemy Type
                    </th>
                    <th>
                        Friendly Attack
                    </th>
                    <th>
                        Enemy Attack
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
                <tr ng-repeat="rel in ranked">
                    <td>
                        {{rel.friendly | capitalize}}
                    </td>
                    <td>
                        {{rel.enemy | capitalize}}
                    </td>
                    <td>
                        {{rel.friendlyAttack | effectiveness}}
                    </td>
                    <td>
                        {{rel.enemyAttack | effectiveness}}
                    </td>
                    <td>
                        {{rel.score}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Your application bootstrap  -->
    <script type="text/javascript" src="./pokemonAlgo.js"></script>

</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
