@blue: #2B448C;
@indigo: #303f9f;
@accent-red: #ff8a80;
@accent-green: #69f0ae;
@yellow: rgb(255, 235, 59);
@font-black: rgba(33,33,33,0.87);
@header-height: 120px;
@card-padding: 15px;
header {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: @indigo;
    color: white;
    h1 {
        margin: 0;
        text-align: center;
    }
}

#header-buttons {
    i {
        font-size: 40px;
    }
}
#inputs {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: @card-padding;

    md-radio-button:last-child {
        margin: 0;
    }
    md-input-container {
        margin: 0 0 0 40px;
        width: 150px;
    }
}
#poketable {
    @td-padding: 10px;
    @span-padding: 7px;

    border-spacing: 0;
    th {
        border-bottom: 1px solid @yellow;
    }
    tr:nth-child(2) > td {
        padding-top: 20px;
    }
    td,
    th {
        padding: @td-padding;
        padding-left: @td-padding - @span-padding;
    }
    td > span {
        padding: @span-padding;
        padding-left: 0;
        border-radius: 2px;
    }
    tr > td:first-child,
    tr > th:first-child {
        padding-left: @card-padding;
    }
    tr.last-of-score > td {
        border-bottom: 1px solid rgba(255, 235, 59, .3);
    }
    span.super-effective {
        background: @accent-green;
        color: @font-black;
        .effectiveness-span;
    }
    span.not-very-effective {
        background: @accent-red;
        .effectiveness-span;
    }
    span.no-effect {
        background: black;
        color: white;
        .effectiveness-span;
    }
    .effectiveness-span {
        padding-left: @span-padding;
    }
}
/* BOOTSTRAP CONTAINER STYLE */
.bs-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .bs-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .bs-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .bs-container {
        width: 1170px;
    }
}
